name: Build

on:
    push:
    workflow_dispatch:

jobs:
    build:
        name: Linux build and test
        runs-on: ubuntu-latest
        steps:
            - uses: actions/checkout@v4

            - name: Install deps (Linux)
              run: |
                  sudo apt-get update
                  sudo apt-get install libreadline-dev xxd libffi-dev libssl-dev cmake

            - name: Fetch tags
              run: git fetch --tags --force origin

            - name: Configure CMake
              run: PRESET=linux-release make configure

            - name: Buid
              run: PRESET=linux-release make build

            - name: Test
              run: PRESET=linux-release make test
